.HamburgerMenu {
  display: none;
}

@media (max-width: 500px) {
  .HamburgerMenu {
    width: 60px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
  }

  .HamburgerMenu div {
    background-color: white;
    height: 3px;
  }
}
